body {
  background: skyblue;
}


/*Cambia el color del del borde al hacer clic (focus)*/
input:focus, textarea:focus{
border: 2px solid blue;
outline: none;
}

/*Bordes para entradas validas e invalidas*/
input:invalid, select:invalid, textarea:invalid {
  border-color: red;
}
input:valid, select:valid, textarea:valid {
border-color: green;
}
 /*Estilo para el boton al pasar el mouse*/
 button:hover {
   background-color: green;
   color: white;
   cursor: pointer;
 }

 /*Estilo para el radio seleccionado*/
.radio-group input[type="radio"]:checked {
  border: 2px solid black;
  box-shadow: 0 0 5px gray;
  background-color: blue;
}
/*Cambia el color del texto del label cuando el radio esta seleccionado*/
input[type="radio"]:checked + label {
  color: blue;
  font-weight: bold;
}

/*Estiliza el primer input diferente (esquinas redondeadas)*/
input:first-of-type {
  border-radius: 10px;
}
 /*Estilo basico para que se vea ordenado*/
 label, input, textarea, select {
   display: block;
   margin-bottom: 10px;
   width: 70%;
 }

 .radio-group input, .radio-group label {
    display: inline;
    width: auto;
}